.header{
	height:40px;
	width:100%;
	position:fixed;
	top:0px;
}
.header li {
	display:inline-block;
	float:right;
	margin-right:1.1%;
}

.header li:first-child {
	margin-right:2.2%;
}

.header li:nth-child(6) {
	font-family:Arial;
	font-size:13px;
	margin-top:4px;
	color: #696969;
}

.header li:nth-child(4), .header li:nth-child(5) {
	font-family:Arial;
	font-size:13px;
	margin-top:4px;
}

#profile {
	border-radius:15px;
}

.google {
	position:relative;
	margin-top:12%;
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.searchbox *{
	position:relative;
	clear:both;
	margin-top:21px;
	height:2em;
	border:1px #CDCDCD solid;
}

.searchbutton, .luckbutton {
	position:relative;
	height:1.7em;
	width:105px;
	background-color:#f5f6f7;
	text-align:center;
	margin-top:15px;
	margin-right:50.5%;
	margin-left:auto;
	border:1px solid #d9dee2;
	border-radius:2px;
}

.searchbutton p, .luckbutton p {
	font-family:Arial;
	font-size:10.5px;
	margin-top: 8px;
	position:relative;
	color:#383838;
}

.luckbutton {
	width:115px;
	margin-right:auto;
	margin-left:50.3%;
	margin-top:-29px;
}

.searchbutton:hover, .luckbutton:hover {
	border: 1.3px solid #c3c9d1;
	background-color:#f8f8f8;
}

input:hover{
	border:1px #a9a9a9 solid;
}

input:focus{
	border:1px blue solid;
}

.footer {
	height:40px;
	width:100%;
	background-color:#f4f4f4;
	position:fixed;
	bottom:0px;
	border-top:1px solid #d9dee2;
}

.leftfooter li, .rightfooter li {
	display:inline;
	float:left;
	margin-left:1.9%;
	font-family:Arial;
	font-size:13px;
	margin-top:-3.3px;
	color: #696969;
}

.rightfooter li{
	float:right;
	margin-right:.2%;
}

.rightfooter li:first-child {
	margin-right: 2.4%;
}
.leftfooter li:first-child {
	margin-left:-1.1%;
}

.leftfooter li:hover, .rightfooter li:hover, .toplink:hover {
	text-decoration:underline;
}